<div class="memorial-posts">
  <% @memorial.posts.each do |post| %>
    <% if post.approved %>
      <div class="memorial-post">
        <% if @current_user.id == post.author.id %>
        	<%= link_to 'Edit post', edit_memorial_post_path(@memorial, post), id: "edit-memorial-post", class: "btn btn-default btn-sm" %>

        	<%= button_to "Delete Post", { controller: "posts", action: "destroy", memorial_id: @memorial.id, id: post.id },
                                  method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-sm" %>
        <% end %>
        <%= link_to "Report", "/posts/#{post.id}/report", class: "btn btn-default btn-sm report" %>

        <%= link_to "Add a comment", new_memorial_post_comment_path(@memorial, post), id: "new-memorial-comment", class: "btn btn-default btn-sm" %>
        <div class="comment">
          <% post.comments.each do |comment| %>
          <h6><%= comment.commenter.name %>: <%= comment.text %></h6>
          <%= link_to "Edit", edit_memorial_post_comment_path(memorial_id: @memorial.id, post_id: post.id, id: comment.id), id: "edit-memorial-comment", class: "btn btn-default btn-sm" %>
          <%= button_to "Delete", { controller: "comments", action: "destroy", memorial_id: @memorial.id, post_id: post.id, id: comment.id },
                                  method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-sm" %>
          <% end %>
        </div>

      </div>
      <br><br>
    <% end %>
  <% end %>
</div>