<%= form_for @photo, url: {action: "create"} do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
	      <% @photo.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :caption, class: "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :caption, class: "form-control", placeholder: "Include a caption" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.file_field :url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
