<h1 class="title-card"><%= @memorial.deceased_name %></h1>
<br>
  <% if @photo %>
    <%= image_tag(@photo.url) %>
  <% end %>

  <div id="ctrl-memorial-nav">
    <ul>
      <% if @current_user.id == @memorial.moderator_id %>
        <li><%= link_to "Edit Memorial Page", edit_admin_memorial_path, id: "edit-memorial", class: "btn btn-default btn-sm" %></li>
        <li><%= link_to "Delete Memorial Page", { controller: "admin/memorials", action: "destroy", id: @memorial.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-sm" %></li>
        <li><%= link_to "Reported Posts", "/admin/memorials/#{@memorial.id}/queue", class: "btn btn-default btn-sm report-queue" %></li>
      <% end %>
        <li><%= link_to "Invite Guests", new_admin_memorial_guest_path(@memorial), id: "new-guest", class: "btn btn-default btn-sm" %></li>

    </ul>
  </div>
 
  <p>Date of Birth: <%= @memorial.date_of_birth.strftime("%B %d, %Y") %> | Date of Passing: <%= @memorial.date_of_death.strftime("%B %d, %Y") %></p>
  <hr>
  <h5>Obituary Description</h5>
    <p><%= @memorial.obituary_description %></p>
  <hr>
  <h5>Service Description</h5> 
  <p><%= @memorial.service_description %></p>
  <hr>
  <h5>Service Location</h5>
    <iframe
      width="60%"
      height="30%"
      frameborder="3" style="border:5"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDPgzthWTl5XYtapoLmMxd0-b5vc0ooz74&q=<%=@memorial.service_location%>">
    </iframe>


<hr>
<div class="new-post-or-photo">
  <h2>Memories</h2>
  <div id="ctrl-memorial-nav">
    <ul>
      <li><%= link_to "Add a memory post", new_memorial_post_path(@memorial), id: "new-memorial-post", class: "btn btn-default" %></li>
      <li><%= link_to "Add a memory photo", new_memorial_photo_path(@memorial), id: "new-memorial-post", class: "btn btn-default" %></li>
    </ul>
  </div>
</div>

<div class="memorial-timeline">  
  <%= render 'partials/memorialpost' %>
  <%= render 'partials/memorialphoto' %>
</div>
