<div id="deceased-page">
  <h1><%= @memorial.deceased_name %></h1>


  <span>Date of Birth: <%= @memorial.date_of_birth.strftime("%B %d, %Y") %></span>|
  <span>Date of Passing: <%= @memorial.date_of_death.strftime("%B %d, %Y") %></span>

  <p><%= @memorial.obituary_description %></p>
  <p><%= @memorial.service_description %></p>

  <%= link_to "Add a memory post", new_memorial_post_path(@memorial), id: "new-memorial-post", class: "btn btn-default btn-sm" %>
  <br><br>

  <h3>Memories</h3>
  <%= render 'partials/memorialpost' %>

	<% if @user.id == @memorial.moderator_id %>
    <%= link_to "Edit", edit_admin_memorial_path, id: "edit-memorial", class: "btn btn-default btn-sm" %>
    <%= link_to "Delete", admin_memorial_path, :method => :delete, :confirm => 'Are you sure you want to delete this memorial?', id: "delete-memorial", class: "btn btn-default btn-sm" %>
	<% end %>

</div>
