<!DOCTYPE html>
<html>
  <head>
    <title>Remembrance</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @home_page ? 'homepage' : ''%>">
    <nav class="navbar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <% if @current_user %>
          <a class="navbar-brand page-scroll" href="/">Remembrance</a>
          <% end %>
        </div>
        <% if @current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Create new memorial", new_admin_memorial_path, id: "new_memorial", class: "btn btn-default nav-buttons" %></li>
          <li><%= link_to "Created memorials", created_path, id: "new_memorial", class: "btn btn-default" %></li>
          <li><%= link_to "Attended memorials", attended_path, id: "new_memorial", class: "btn btn-default" %></li>
          <li><%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-default" %></li>
        </ul>
        <% end %>
      </div>
    </nav>
    <div class="container-remembrance">
      <%= yield %>
    </div>
    
    
    <div id="footer">
      <div class="footer-container">
        <a href="/info/about">About</a><a href="/info/contact">Contact</a><a href="/info/team">Team</a><br>
      </div>
    </div>
  </body>
</html>