<!DOCTYPE html>
<html>
<head>
  <title>In Memorium</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Custom Fonts -->
  <link href="assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<div id="user-widget">
  <% if current_user %>
    <%= link_to "Create new memorial", new_admin_memorial_path, id: "new_memorial", class: "btn btn-default btn-sm" %>
    <%= link_to "Created memorials", new_admin_memorial_path, id: "new_memorial", class: "btn btn-default btn-sm" %>
    <%= link_to "Attended memorials", new_admin_memorial_path, id: "new_memorial", class: "btn btn-default btn-sm" %>
    <%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-default btn-sm" %>
  <% else %>
    <%= link_to "Login with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-default btn-sm" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
